.bienvenidos-banner {
    background-color: map-get($colores, 'color-principal');
    background-image: url(../imagenes/bg/Homebanner.jpg);
    background-size: cover;
    width: auto;
    height: 100vh;
}

.banner1 {
    color: map-get($colores, 'color-secundario');
    text-align: center;
    margin-top: 20%;
}

.about-me-index {
    display: grid;
    grid-template-columns: 200px 200px 200px 350px;
    grid-template-rows: repeat(2, 200px);
    height: 100vh;
    justify-content: center;
    align-content: center;

    img {
        width: 450px;
        height: 450px;
        grid-column: 1/4;
        grid-row: 1/3;
    }
    h2 {
    color: map-get($colores, "color-principal" );
    margin-top: 100px;  
    }   
     p {
    color: map-get($colores, 'color-neutro');
    font-size: 16px;
    margin-top: 15px;
    }
}

.boton1 {
    a {
        color: map-get($colores, 'color-terciario');
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
    }
}


#portfolio-index {
    background-color: map-get($colores, 'color-principal');
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
        color: map-get($colores, 'color-terciario');
        font-size: 20px;
    }
    a:hover {
        font-size: 25px;
    }
}

#mixmatch-index {
    background-color: map-get($colores, 'color-secundario');
    background-image: url(../imagenes/bg/homebanner2.png);
    background-size: cover;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        color: map-get($colores, 'color-neutro');
    }
    p {
        font-size: 16px;
    }
    a {
        margin: 20px;
        color: map-get($colores, 'color-principal');
        font-size: 20px;
    }
    a:hover {
        font-size: 25px;
    }
}

.free-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 100vh;
    h2 {
        color: map-get($colores, 'color-principal');
        margin-top: 20px;
        text-align: center;
    }
}

.carousel-inner img {
    margin-top: 5%;
    height: 500px;
}

@media screen and (max-width: 768px) {

    .about-me-index {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        img {
            width: 250px;
            height: 250px;
        }
        h2 {
            margin: auto;
        }
        p {
            color: map-get($colores, 'color-neutro');
            font-size: 12px;
            margin-top: 5px;
        }
    }

    .boton1 {
        margin-top: 25px;
        margin-right: 40px;
        a {
            color: map-get($colores, 'color-secundario');
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;
        }
    
    }

    .free-content {
        width: 80%;
        height: 70vh;
    }

    .carousel-inner img {
        margin-top: 5%;
        height: 250px;
        width: 50vh;

    }

}