.bg {
    background-image: url('../imagenes/FONDO.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.whoiam-img {
    width: 100%;
    height: 100%;
}

.whoiam-h1 {
    color: map-get($colores, 'color-principal');
    padding-top: 12%;
}

.whoiam-p {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 4%;
}

.whoiam-rrss {
    display: flex;
    list-style: none;
    li a img {
        padding-right: 20px;
    }
}

.whoiam-boton {
    text-decoration: none;
    color: map-get($colores, 'color-principal');
    text-decoration: none;
    &:hover {
        color: #018F98;
        text-decoration: overline;
    }
}

.whoiam-contacto {
    background-image: url(../imagenes/aboutme/bg.png);
    width: 100vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    h2 {
        color: map-get($colores, 'color-terciario');
        margin: 50px;
    }
}

.whoiam-form {
    color: map-get($colores, 'color-secundario');
    label {
        font-family: 'Questrial', sans-serif;
    }
}

.whoiam-rrss ul {
    display: inline;
    width: fit-content;
}


#consulta-size {
    resize: none;
}
@media screen and (max-width: 768px){
    .whoiam-img{
        margin-top: 5px;
        width: 200px;
        height: auto;
     }
     .whoiam-h1 {
        font-size: 20px;
    }
    .whoiam-p {
        font-size: 10px;
        padding-top: 0%;
        padding-bottom: 0%;
    }

.bg {
    height: 60vh;
}
.whoiam-rrss {
    li a img {
        margin-top: 10px;
        padding-right: 20px;
        width: 40px;
        height: auto;
    }
}
.whoiam-boton {
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.whoiam-contacto {
    width: 100%;
    height: 50vh;
    
    margin-top: 5px;
    h2 {
      font-size: 15px;
    }
}
.whoiam-form {
    margin-top: 0px;
    font-size: 10px;
    label {
        font-size: 10px;
    }
}

.whoiam-rrss ul {
    display: inline;
    width: fit-content;
}
}