/* comun en todas las paginas */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Questrial', sans-serif;
    background-color: #F3F6FB;
}
body h1{
    font-family: 'Rozha One', serif;
    font-size: 50px;
}
body h2{
    font-family: 'Rozha One', serif;
    font-size: 30px;
}
body h3{
    font-size: 20px;
}
.nav{
   display: flex;
   justify-content: space-around;
   list-style: none;
}
.nav img{
    width: 82px;
    height: 72px;
    margin-top: 15px;

}
.nav ul{
    display: flex;
    list-style: none;
    align-self: right;
    height: fit-content;
    margin-top: 40px;
    margin-left: 500px;
}
.nav ul li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 20px;
}
.nav ul li a:hover{
color: #DFDAD7;
text-decoration: overline;
}
/* comienza index */
.bienvenidos-banner{
    background-color: #003A48;
    background-image: url(./imagenes/bg/Homebanner.jpg);
    background-size: cover;
    width: auto;
    height: 100vh;
}
.banner1{
    color: #F3F6FB;
    text-align: center;
    margin-top: 20%;
}
.about-me-index{
    display: grid;
    grid-template-columns: 200px 200px 200px 350px;
    grid-template-rows: repeat(2, 200px);
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.about-me-index img{
    width: 450px;
    height: 450px;
    grid-column: 1/4;
    grid-row: 1/3;
}
.about-me-index h2{
    color: #003A48;
    margin-top: 100px;
}
.about-me-index p{
    color: #3D3E40;
    font-size: 16px;
    margin-top: 15px;
}
.boton1 {
    background-color: #004445;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px gray;
    margin-top: 20px;;
    padding: 3%;
    }
.boton1 a{
       color:#D3CBC8;
       font-weight: 500;
       font-size: 20px;
       text-decoration: none;
    }
#portfolio-index{
    background-color: #016A75;
    width:100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#portfolio-index a{
    color: #E1C7B0;
    font-size: 20px;
}
#portfolio-index a:hover{
    font-size: 25px;
}
.boton2 a{
       color:#004445;
       font-weight: 500;
       font-size: 30px;
       text-decoration: none;
    }
#mixmatch-index {
    background-color: #DFDAD7;
    background-image: url(./imagenes/bg/homebanner2.png);
    background-size: cover;
    width:100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mixmatch-index h2{
    color: #3D3E40;
}
#mixmatch-index p{
    font-size: 16px;
}

#mixmatch-index a{
    margin: 20px;
    color: #003A48;
    font-size: 20px;
}
#mixmatch-index a:hover{
    font-size: 25px;
}

.free-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 100vh;
}
.free-content-h2{
    color: #018F98;
    margin-top: 20px;
    text-align: center;
}
.free-content img{
  width: 350px;
  height: 350px;
}

/* fin del index.html */

/* comienzo de whoiam.html */
.bg {
    background-image: url('./imagenes/FONDO.png');
    background-color: #F3F6FB;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
}

.bg aside {
    width: 50%;
}

.bg aside img {
    width: 75%;
}

.bg div {
    width: 50%;
}


.whoiam-h1 {
    color: #016A75;
    width: 45vh;
}

.whoiam-p {
    width: 100vh;
}

.whoiam-rrss {
    display: flex;
    align-items: flex-start;
}

.whoiam-rrss ul li {
    list-style: none;
}

.whoiam-rrss ul li img {
    width: 50%;
    height: 50%;
}

.whoiam-boton {
    background-color: #E1C7B0;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px #DFDAD7;
    padding: 3%;
}

.whoiam-boton a {
    text-decoration: none;
    color: #018F98;
    text-decoration: none;
}

.whoiam-boton:hover {
    background-color: #018F98;
    color: #DFDAD7;
}

.iwhoiam-boton a:hover {
    background-color: #018F98;
    color: #DFDAD7;
}

.whoiam-contacto {
    background-image: url(./imagenes/aboutme/bg.png);
    width: 100vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.whoiam-contacto h2 {
    color: #E6E0D3;
    margin: 50px;
}

.whoiam-form {
    color: #E6E0D3;
}

.whoiam-rrss ul {
    display: inline;
    width: fit-content;
}

.whoiam-contacto{
    background-image: url(./imagenes/aboutme/bg.png);
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.whoiam-contacto h2{
    color: #E6E0D3;
    margin: 50px;
}
.whoiam-form{
    color: #E6E0D3;
}
.whoiam-form label{
    font-family: 'Questrial', sans-serif;
}
/* fin de whoiam.html */

/* comienzo de mixmatch.html */

.bienvenidos-banner2{
    background-color: #003A48;
    background-image: url(./imagenes/mixandmatch/mm-banner.png);
    width: 100%;
    height: 100vh;
}
.mixandmatch{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}
.mixandmatch img{
    width: 400px;

}
.mixandmatch p{
    margin-top: 30px;
    color: #003A48;
    text-align: center;
}


/* fin de mixmatch.html */

/* comienzo de portfolio.html */

.portfolio-banner{
    background-color: #E1C7B0;
    width: 100%;
    height: 416px;
    margin-top: 75px;
}
.portfolio-banner h1{
    color: #F3F6FB;
    text-align: center;
    padding-top: 12%;
}
.portfolio-descripcion{
    color: #6B6B6B;
    text-align: center;
    margin: 100px;
}
.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.portfolio-img img{
width: 400px;
height: 400px;
}
.portfolio-img h3{
    color: #003A48;
    margin: 30px;
    font-size: 20px;
}
.portfolio-img h2{
    color: #6B6B6B;
    margin: 30px;
    font-size: 25;
}
.portfolio-img p{
    color: #003A48;
    margin: 30px;
    font-size: 16px;
}
.boton-contacto{
    margin: auto;
}

/* fin de portfolio.html */

/* comienzo de contacto.html */

.body-contacto{
    background-color: #003A48;
    background-image: url(./imagenes/aboutme/bg.png);
    background-size: auto;
    width: 100%;
    height: 100vh;
}
.contacto{
    margin: auto;
    text-align: center;
    color: #E6E0D3;
    margin-bottom: 45vh;
}



/* fin de contacto.html */

/* comienzo de footer comun en todos los html */
footer{
    background-color: #3D3E40;
    width: auto;
    height: 402px;
}
.rrss ul{
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: space-around;
   list-style: none;
}
.rrss ul li{
    padding: 2%;
}
.rrss ul li img{
    width: 100%;
}
footer h3{
    text-align: center;
    color: #DFDAD7;
    margin: 40px;
}
.nav-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-footer ul li{
    padding: 2%;
}
.nav-footer ul li a{
    color: #D3CBC8;
    font-size: 16px;
    text-decoration: underline;
}
.nav-footer ul li a:hover{
color: #016A75;
}
.nav-footer ul li a img{
    width: 82px;
    height: 72px;
}
 /* media query general */
@media screen and (max-width: 768px){
   
    body h1{
        font-family: 'Rozha One', serif;
        font-size: 35px;
    }
    body h2{
        font-family: 'Rozha One', serif;
        font-size: 25px;
    }
    body h3{
        font-size: 20px;
    }
    .nav{
        flex-direction: column;
     }
     .nav ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        height: fit-content;
        margin-top: 20px;
        margin-left: 0px;
    }
    .nav li{
        margin-top: 10px;
    }
    .nav ul li a{
        color: black;
        font-size: 12px;
    }
    
    .nav ul li a:hover{
        font-size: 14px;
    }
    .nav img{
        width: 40px;
        height: 35px;
        margin-top: 25px;
        margin-left: 10px;
    }
}
/* index.html */
@media screen and (max-width: 768px) {
    .bienvenidos-banner{
        width: auto;
        height:100vh;
    }
    .about-me-index{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
        }
    .about-me-index img{
            width: 250px;
            height: 250px;
        }
    .about-me-index h2{
            margin-top: 50px;
        }
    .about-me-index p{
            color: #3D3E40;
            font-size: 12px;
            margin-top: 5px;
        }
    .boton1 {
            margin-top: 25px;
            margin-right: 40px;;
            }
    .boton1 a{
               color:#D3CBC8;
               font-weight: 500;
               font-size: 14px;
               text-decoration: none;
            }
    .free-content{
                width:100%;
                height: 100vh;
            }
    .free-content img{
          width: 200px;
          height: 200px;
        }
/* fin index */
/* comienza who i am */
.bg {
    background-image: url('./imagenes/FONDO.png');
    background-color: #F3F6FB;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
}
   
    aside{
            grid-area: aside;
        }
    aside img{
            margin-bottom: 20px;
        }
    .whoiam-h1{
            color: #016A75;
           width: 45vh;
        }
        .whoiam-p{
            grid-area: itemDeGrid-p;
            width: 75vh;
        }
        .whoiam-rrss{
            grid-area: itemDeGrid-rrss;
        
        }
        .whoiam-rrss ul{
            display: flex;
            align-items: flex-start;
        }
        .whoiam-rrss ul li{
            list-style: none;
        }
        .whoiam-rrss ul li img{
            width: 50%;
            height: 50%;;
        }
        .whoiam-boton{
            grid-area: itemDeGrid-boton;
            background-color: #E1C7B0;
            width: fit-content;
            height: fit-content;
            border-radius: 20px;
            box-shadow: 0 8px 6px -6px #DFDAD7;
            padding: 3%;
        }
        .whoiam-boton a{
            text-decoration: none;
            color:#018F98;
            text-decoration: none;
        }
    .whoiam-contacto{
        margin-top: 50px;
        margin-bottom: 100px;
        align-items: center;
        }
        .whoiam-contacto h2{
            margin: 30px;
        }
      
/* mix&match */

.bienvenidos-banner2{
    background-color: #003A48;
    background-image: url(./imagenes/mixandmatch/mm-banner.png);
    width: 100%;
    height: 100vh;
}
.mixandmatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.mixandmatch img{
    width: 200px;

}
.mixandmatch p{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* comienzo portfolio */
.portfolio-img{
    display: flex;
    flex-direction: column;
}
.portfolio-img img{
    width: 200px;
    height: 200px;
    }
        /* comienzo footer */
    footer h3{
            text-align: center;
            color: #DFDAD7;
            margin: 20px;
            font-size: 10px;
        }
        .nav-footer ul li a{
            font-size: 12px;
        }
        .nav-footer ul li a img{
            width: 42px;
            height: 32px;
        }
}
